# Dependencies
node_modules/

# Build output
dist/

# Environment
.env
.env.*
!.env.example

# Logs
*.log
npm-debug.log*

# IDE
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
.DS_Store
Thumbs.db
